PORT=5000
NODE_ENV=development
MONGO_URI=
JWT_SECRET=
FRONTEND_URL=http://127.0.0.1:5173
PUBLIC_API_URL=http://127.0.0.1:5000
CORS_ORIGINS=http://127.0.0.1:5173

MAIL_PROVIDER=resend
RESEND_API_KEY=
MAIL_HOST=
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Swabhiman Shiksha Sanskriti Samajotthan Nyas
SUPPORT_EMAIL=
MEMBERSHIP_NOTIFICATION_EMAIL=

MEMBERSHIP_PAYMENT_PROVIDER=disabled
MEMBERSHIP_PAYMENT_PUBLIC_KEY=
MEMBERSHIP_PAYMENT_SECRET_KEY=
MEMBERSHIP_PAYMENT_WEBHOOK_SECRET=
MEMBERSHIP_PAYMENT_CURRENCY=INR
MEMBERSHIP_YEARLY_AMOUNT=1100
MEMBERSHIP_PERMANENT_AMOUNT=5100
MEMBERSHIP_TAX_ENABLED=false
MEMBERSHIP_TAX_PERCENT=0
MEMBERSHIP_TAX_LABEL=GST

DONATION_PAYMENT_PROVIDER=disabled
DONATION_PAYMENT_PUBLIC_KEY=
DONATION_PAYMENT_SECRET_KEY=
DONATION_PAYMENT_WEBHOOK_SECRET=
DONATION_PAYMENT_CURRENCY=INR
DONATION_MINIMUM_AMOUNT=100
DONATION_TAX_ENABLED=false
DONATION_TAX_PERCENT=0
DONATION_TAX_LABEL=GST
DONATION_UPI_ID=
DONATION_PAYEE_NAME=Swabhiman Shiksha Sanskriti Samajotthan Nyas
DONATION_RECEIPT_ACKNOWLEDGEMENT=We gratefully acknowledge the donation received for the charitable activities of the organisation.
ORGANISATION_REGISTERED_ADDRESS=T-135, G.F, Rajpura Gurmandi, Rana Pratap Bagh, North Delhi - 07
EXAM_DOCUMENT_FOLDER=swabhiman/private/exams/documents
EXAM_ADMIT_CARD_FOLDER=swabhiman/private/exams/admit-cards
MEMBERSHIP_PAYMENT_PROOF_FOLDER=swabhiman/private/payments/membership
DONATION_PAYMENT_PROOF_FOLDER=swabhiman/private/payments/donation

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
